<!doctype html>

</head>
    <title>gmbH-micro testing tool</title>

    <link rel="stylesheet" href="static/materialize/css/materialize.min.css">
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>

<nav>
  <div class="nav-wrapper navheight grey darken-3">
    <div class="container">
      <a href="#" class="brand-logo"><img src="static/img/logo_white.png" width="75%"></a>
      </div>
  </div>
</nav>

<main>
  <div class="container content-margin" id="container">
    <div class="row">
      <div class="col s12" id="main-content">
      </div>
      <div class="col s3 nav-border" id="nav-bar">
      </div>
    </div>
  </div>
</main>
<footer class="page-footer white">
    <div class="footer-copyright">
    <div class="container">
    <span class="black-text right">© 2018 the gmbh-micro team</span>
    </div>
    </div>
</footer>

<script type="text/javascript" src="/static/materialize/js/materialize.min.js"></script>
<script type="text/javascript" src="/static/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/static/js/main.js"></script>

</body>
